body {
	background-color: lightgrey;
	background-image: url("Spider_Man.jpg"); width: 650px;
}
.imgWithText {
    text-align: justify;
    width: 347.5px;
    height: 347.5px;
}
img {
	float: left;
	width: 347.5px;
	height: 347.5px;
}
h1 {
	font-family: verdana;
	color: white;
}
.sentence {
	font-family:calibri;
	color: white;
}
a {
	color: blue;
	font-weight: bold;
}